<div
    class="inline-flex font-medium text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer"
>
<svg xmlns="http://www.w3.org/2000/svg" id="flag-icons-es" viewBox="0 0 512 512"
class="border-solid border-2 border-gray-500 w-5 h-5 mr-2 rounded-full">
<path fill="#fff" d="M0 0h512v512H0z"/>
<path fill="#000091" d="M0 0h170.7v512H0z"/>
<path fill="#e1000f" d="M341.3 0H512v512H341.3z"/>
</svg>
  FR
</div>
