<div
    class="inline-flex font-medium text-sm text-gray-900 dark:text-white rounded-lg cursor-pointer"
>
    <svg
        class="border-solid border-2 border-gray-500 w-5 h-5 mr-2 rounded-full"
        xmlns="http://www.w3.org/2000/svg"
        id="flag-icons-nl"
        viewBox="0 0 512 512"
    >
        <path fill="#21468b" d="M0 0h512v512H0z" />
        <path fill="#fff" d="M0 0h512v341.3H0z" />
        <path fill="#ae1c28" d="M0 0h512v170.7H0z" />
    </svg>
    NL
</div>
