<script lang="ts">
    import { _, init } from "svelte-i18n";
    import { langs } from "./language-select";
    import { ChevronDownOutline } from "flowbite-svelte-icons";
    import {
        Dropdown,
        DropdownItem,
        NavBrand,
        NavHamburger,
        NavLi,
        NavUl,
        Navbar,
    } from "flowbite-svelte";
    import { SiteTitle, fallbackLocale } from "../settings";
    import { language } from "../i18n";
    import { get } from "svelte/store";
    import SvelteLogo from "../assets/svelte.svg";
    let dropdownOpen = false;

    let current = get(language);
    let changeLang = () => {
        init({ fallbackLocale, initialLocale: get(language) });
        current = get(language);
        dropdownOpen = false;
    };

    let selectLanguage = (lng: string) => {
        language.set(lng);
        changeLang();
    };
</script>

<Navbar
    class="ax-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
>
    <NavBrand href="/">
        <img src={SvelteLogo} class="mr-3 h-8 sm:h-12" alt={`${SiteTitle} logo`} />
        <span
            class="self-center whitespace-nowrap text-xl font-semibold dark:text-white"
            >{(SiteTitle)}</span
        >
    </NavBrand>
    <div class="flex md:order-2">
        <NavHamburger />
    </div>
    <NavUl
        ulClass="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium items-center"
    >
        <NavLi>
            <svelte:component this={langs[current]} /><ChevronDownOutline
                class="w-2 h-2 ml-2 mb-2 text-white inline"
            />
        </NavLi>
        <Dropdown class="w-44 z-20" bind:open={dropdownOpen}>
            {#each Object.entries(langs) as [code, component]}
                {#if code !== current}
                    <DropdownItem on:click={() => selectLanguage(code)}
                        ><svelte:component this={component} /></DropdownItem
                    >
                {/if}
            {/each}
        </Dropdown>
    </NavUl>
</Navbar>

<style>
    span {
        display: flex;
    }
</style>
