<script lang="ts">
  import { _ } from "svelte-i18n";
  import Topbar from "./components/TopBar.svelte";
  import Hero from "./components/Hero.svelte";
  import { onMount } from "svelte";

  onMount(() => {
    // Nothing yet
  });
</script>

<Topbar />
<main
  class="relative lg:px-6 lg:pt-6 md:px-4 md:py-4 sm:px-2 sm:py-2 xs:px-2 xs:py-2"
>
  <Hero />
  <p class="footer text-center">
    <span class="my-2 text-2l tracking-tight dark:text-white"
      >{$_("copyright")}</span
    >
  </p>
</main>
